.container{
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}
.bg-gradient{
  background-color: purple;
}
label{
    color: white;
}
img{
  height: auto;
  width: auto;
  color: black;
}